AgentComService/Service References/SR_AgentAdapter/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9080/AgentService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Shared" />
  <xs:element name="TransmitMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Shared" minOccurs="0" name="message" nillable="true" type="q1:CoreMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransmitMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TransmitMessageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>